h2 { font-family: Times New Roman;}
li{display: inline;
   width:max-content;
   text-align: center;
   }
a:link, a:visited {
            background-color: white;
            color: black;
            border: 1px solid blue;
            padding: 30px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            block-size: 195px;
         }
         a:hover, a:active {
            background-color: red;
            color: white;
         }
      
