div{text-align: center;}
.my block {text-align: center;}
body { min-height: 100vh; }
#logo img {
    max-height: 80px;
    width: auto;
    position: center;
}
h2 { font-family: Times New Roman;}
li{display: inline;
   width:max-content;
   text-align: center;
   }
a:link, a:visited {
            background-color: white;
            color: black;
            border: 1px solid gold;
            padding: 30px 30px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
           block-size: auto;
           position: center;
         }
         a:hover, a:active {
            background-color: silver;
            color: black;
         }
      
